<div class="container-fluid w-100">
  <div class="d-flex flex-wrap justify-content-center perfect-centering w-50 border border-dark rounded shadow-lg p-3 bg-white">
    <div class="text-center">

        <h2>Sign In</h2>

          <%= form_for :session, url: session_path do |form| %>

            <div class="text-field p-2">
              <%= form.label :email %>
              <%= form.text_field :email, type: 'email', placeholder:"jesse@example.com", class:"form-control" %>
            </div>

            <div class="password-field p-2">
              <%= form.label :password %>
              <%= form.password_field :password, placeholder: "jesse123", class:"form-control" %>
            </div>

            <div class="submit-field align-contents-center">
              <%= form.submit "Submit", class: "btn btn-primary" %>
              <%= link_to raw("<i class=\"fab fa-google\"> Sign In With Google</i>"), "/auth/google_oauth2", class: "btn btn-success" %>
            </div>

            <div class="other-links p-3">
              <% if Clearance.configuration.allow_sign_up? %>
                <%= link_to "Sign Up", sign_up_path %>
              <% end %>
                <%= link_to "Reset Password", new_password_path %>
            </div>
            <% end %>

    </div>
  </div>          
</div>