<nav class="navbar navbar-expand-lg navbar-light bg-transparent shadow">

  <h6 class="navbar-brand my-auto text-dark">Filter Results:</h6>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown my-auto">

      <%= form_with url: filter_listing_path do |f| %>
      <%= f.select :place_type, options_for_select(["Apartment", "House", "Secondary Unit", "Unique Space", "Bed & Breakfast", "Boutique Hotel"]), {prompt: "Place Type"}, {:class => "btn btn-link dropdown-toggle bg-transparent text-dark filter-choice"} %>
      <% end %>

    </li>
    <li class="nav-item dropdown my-auto">

      <%= form_with url: filter_listing_path do |f| %>
      <%= f.select :guest_number, options_for_select([["1 - 10", "1..10"],["11 - 20", "11..20"],["21-30", "21..30"],["31 +", "31..1000000"]]), {prompt: "No. Of Guests"}, {class: "btn btn-link dropdown-toggle bg-transparent text-dark filter-choice"} %>
      <% end %>

    </li>
    <li class="nav-item dropdown my-auto">

      <%= form_with url: filter_listing_path do |f| %>
      <%= f.select :room_number, options_for_select([["1 - 3", "1..3"],["4 - 6", "4..6"],["7 - 9", "7..9"],["10 +", "10..100000"]]), {prompt: "No. Of Rooms"}, {class: "btn btn-link dropdown-toggle bg-transparent text-dark filter-choice"} %>
      <% end %>

    </li>
    <li class="nav-item my-auto">

      <%= form_with url: filter_listing_path, method: (:get), class: "filter-choice-form" do |f| %>
      <%= f.hidden_field :verified, value: true %>
      <%= f.submit "Only Verified", class: "btn btn-link text-dark filter-button" %>
      <% end %>

    </li>
  </ul>
  <div class="dropdown">
      <%= form_with url: filter_listing_path, method: (:get), class:"form-inline" do |f| %>
        <%= f.text_field :city, placeholder: "Search City...", class: "form-control mr-sm-2 dropdown-toggle search-city", data: {toggle:"dropdown"} %>
        <div id="autofill-list" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        </div>
        <%= f.submit "Search", class: "btn btn-outline-dark my-2 my-sm-0" %>
      <% end %>
  </div>
     
</nav>