<div class="container-fluid w-100 p-3">
  <div class="d-flex flex-wrap justify-content-center w-50 border border-dark rounded shadow-lg p-3 bg-white my-auto mx-auto">
    <div class="text-center">

      <h3>New Listing</h3>

       <%= form_for @listing do |form| %>

         
             <%= form.hidden_field :place_type, id:"place-type" %>
           
            <div class="form-group">           
             <%= form.label :property_name %><br>
             <%= form.text_field :name, placeholder: "Casa Castle", class:"form-control-sm shadow"%>
            </div>

            <div class="form-group">
             <%= form.label :property_type %><br>
             <%= form.select :property_type, grouped_options_for_select(Listing.for_select), class:"form-control-sm shadow"%>
            </div>

            <div class="form-group">
             <%= form.label :number_of_rooms %><br>
             <%= form.text_field :room_number, placeholder: "3", class:"form-control-sm shadow"%>
            </div>

            <div class="form-group">
             <%= form.label :number_of_beds %><br>
             <%= form.text_field :bed_number, placeholder: "4", class:"form-control-sm shadow"%>
            </div>

            <div class="form-group">
             <%= form.label :number_of_guests %><br>
             <%= form.text_field :guest_number, placeholder: "12", class:"form-control-sm shadow"%>
            </div>

            <div class="form-group">
             <%= form.label :country %><br>
             <%= form.country_select :country, class:"form-control-sm shadow" %>

            <div class="form-group">
             <%= form.label :state %><br>
             <%= form.text_field :state, placeholder: "City Of London", class:"form-control-sm shadow" %>
            </div>

            <div class="form-group">
             <%= form.label :city %><br>
             <%= form.text_field :city, placeholder: "London", class:"form-control-sm shadow" %>
            </div>

            <div class="form-group">
             <%= form.label :zipcode %><br>
             <%= form.text_field :zipcode, placeholder: "12345", class:"form-control-sm shadow" %>
            </div>

            <div class="form-group">
             <%= form.label :address %><br>
             <%= form.text_field :address, placeholder: "123 Avenue Road", class:"form-control-sm shadow" %>
            </div>

            <div class="form-group">
             <%= form.label :price %><br>
             <%= form.text_field :price, placeholder: "USD per night", class:"form-control-sm shadow" %>
            </div>

            <div class="form-group">
             <%= form.label :description %><br>
             <%= form.text_area :description, size:"30x3", placeholder: "Tell us about your place...", class:"form-control-sm shadow" %>
            </div>
           
      
       
     
            <%= form.file_field :avatars, multiple: true, class:"form-control-file ml-5" %></br>
            <%= form.submit "Create Listing", class:"btn btn-primary m-3" %>
      

        <% end %>

    </div>
  </div>
</div>