
<section class="container mt-4">
	<ul class="d-flex flex-wrap justify-content-center">
		<% @listing.each do |l| %>
			<li class="list-inline-item">
				<div class="card m-2 text-center shadow-lg" style="width: 18rem;">
				  <img class="card-img-top" src="/assets/download.svg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= l.name %></h5>
				    <p class="text-muted"><%= l.place_type %></p>
				    <p class="card-text"><%= l.description %></p>
				    <h6 class="text-muted text-center"><%= number_to_currency(l.price, unit: '$') %> Per Night</h6>
				    <p class="text-muted text-center"> Host: <%= l.user.first_name %> <%= l.user.last_name %></p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item text-center"><i class="fas fa-door-closed"></i> Rooms: <%= l.room_number %></li>
				    <li class="list-group-item text-center"><i class="fas fa-user"></i> Guests: <%= l.guest_number %></li>
				    <li class="list-group-item text-center"><i class="fas fa-bed"></i> Beds: <%= l.bed_number %></li>
				  </ul>
				  <div class="card-body text-center">
				    <a href="/listings/<%= l.id %>" class="card-link">View Listing</a>
				    <a href="#" class="card-link">Book Now</a>
				  </div>
				</div>
			</li>
		<% end %>
	</ul>

</section>

