

	<div class="card text-center" style="width: 100;">
		<img class="card-img-top" src="/assets/interior.jpg" alt="Card image cap">
		<div class="card-img-overlay h-25">
    		<h2 class="card-title"><%= @listing.name %></h2>
    	</div>
    	<nav id="info-bar" class="nav justify-content-center nav-fill m-3">
    	  <p id="info-icon" class="nav-item"><i class="fas fa-user"></i> Guests: <%= @listing.guest_number %></p>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-door-closed"></i> Rooms: <%= @listing.room_number %></p>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-bed"></i> Beds: <%= @listing.bed_number %></p>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-money-bill-alt"></i> Price: <%= number_to_currency(@listing.price, unit: '$') %> Per Night</p>
    	</nav>
      <div class="card-body">
        <h5 class="card-title">Host</h5>
        <p class="card-text"><%= @listing.user.first_name %> <%= @listing.user.last_name %></p>
        <p id="contact-number" class="card-text"></p>
        <button id="show-number" class="btn btn-success">Show Contact No.</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text"><%= @listing.address %></p>
        <p class="card-text"><%= @listing.city %></p>
        <p class="card-text"><%= @listing.state %>, <%= @listing.zipcode %></p>
        <p class="card-text"><%= @listing.country %></p>
      </div>
	  <div class="card-body">
	    <h5 class="card-title">Description</h5>
	    <p class="card-text"><%= @listing.description %></p>
		<button type="button" id="edit-button" class="btn btn-warning">
		  Edit Listing
		</button>
	  </div>
	</div>

	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="choose-attr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit Listing</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <h6>What would you like to edit?</h6>
	        <%= form_for :listing, url: update_listing_path, method: (:patch) do |form| %>
	        <%= form.label :attribute, id:"attr-label"  %>
	        <%= form.select :name, options_for_select(Listing.for_update) %>
	        <%= form.text_field :name, id:"new-value", placeholder:'Enter new details...' %>

	      </div>
	      <div class="modal-footer">
	        <%= form.submit 'Make Changes!', class:'btn btn-success' %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>

	<script>

		$('#listing_name').change(function(){

		    var selected = $(':selected', this);
		    $("#new-value")[0].attributes[4].nodeValue = selected.attr('value');
		    $("#attr-label").text(selected[0].innerHTML);
		    $("#listing_name").fadeOut().remove();
		    console.log(selected[0].innerHTML)

		});

		$("#info-bar").mouseenter(function(){
			$("#info-bar").addClass('font-weight-bold')
		})

		$("#info-bar").mouseleave(function(){
			$("#info-bar").removeClass('font-weight-bold')
		})

		$("#show-number").click(function(){
			$("#show-number").fadeOut()
			$("#contact-number").hide().html("<%= @listing.user.contact_number %>").fadeIn()
		})

		$("#edit-button").click(function(){
			$('#choose-attr').modal()

		})

	</script>