

	<div class="card text-center" style="width: 100;">
		<% if @listing.avatars? %>

			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
			  <div class="carousel-inner">
			  	<% @listing.avatars_urls.each_with_index do |photo, index| %>
			  	  <% if index == 0 %>
				    <div class="carousel-item active">
				      <%= image_tag((photo), class:"d-block w-100") %>
				      <% if current_user.id == @listing.user_id || current_user.auth_level == 'superadmin' %> 
				      <div class="carousel-caption d-none d-md-block">
				      <%= button_to "Remove Photo", delete_avatar_path(@listing ,index), method: (:post), class:"btn btn-danger" %>
				  	  </div>
				  	  <% end %>
				    </div>
				  <% else %>
				  	<div class="carousel-item">
				  	  <%= image_tag((photo), class:"d-block w-100") %>
				  	  <% if current_user.id == @listing.user_id || current_user.auth_level == 'superadmin' %>
				  	  <div class="carousel-caption d-none d-md-block">
				  	    <%= button_to "Remove Photo", delete_avatar_path(@listing ,index), method: (:post), class:"btn btn-danger" %>
				  	  </div>
				  	  <% end %>
				  	</div>
				  <% end %>
			    <% end %>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>

		<% else %>

		  <img class="card-img-top" src="/assets/download.svg" alt="Card image cap">

		<% end %>
		<div class="card-img-overlay h-25">
    		<h2 class="card-title"><%= @listing.name %></h2>
    	</div>
    	<nav id="info-bar" class="nav justify-content-center nav-fill m-3">
    	  <div id="verified-status">
    	  <% if @listing.verified == false %>
    	  	<% if current_user.auth_level == "moderator" %>
    	  		<button id="verify" class="btn btn-success text-white"><i class="fas fa-check-circle"></i> Verify</button> 
    	  	<% else %>
    	  		<p id="info-icon" class="nav-item"><i class="fas fa-times-circle"></i> Unverified</p>
    	  	<% end %>
    	  <% else %>
    	  	<p id="info-icon" class="nav-item text-success"><i class="fas fa-check-circle"></i> Verified</p>
    	  <% end %>
    	  </div>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-user"></i> Guests: <%= @listing.guest_number %></p>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-door-closed"></i> Rooms: <%= @listing.room_number %></p>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-bed"></i> Beds: <%= @listing.bed_number %></p>
    	  <p id="info-icon" class="nav-item"><i class="fas fa-money-bill-alt"></i> Price: <%= number_to_currency(@listing.price, unit: '$') %> Per Night</p>
    	</nav>
      <div class="card-body">
        <h5 class="card-title">Host</h5>
        <p class="card-text"><%= @listing.user.first_name %> <%= @listing.user.last_name %></p>
        <p id="contact-number" class="card-text"></p>
        <button id="show-number" class="btn btn-success">Show Contact No.</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text"><%= @listing.address %></p>
        <p class="card-text"><%= @listing.city %></p>
        <p class="card-text"><%= @listing.state %>, <%= @listing.zipcode %></p>
        <p class="card-text"><%= @listing.country %></p>
      </div>
	  <div class="card-body">
	    <h5 class="card-title">Description</h5>
	    <p class="card-text"><%= @listing.description %></p>

	    <% if current_user.id == @listing.id || current_user.auth_level == "superadmin" %>

		<button type="button" id="edit-button" class="btn btn-warning">
		  Edit Listing
		</button>
		<button type="button" id="delete-button" class="btn btn-danger">
		  Remove Listing
		</button>

		<% end %>

	  </div>
	</div>


	<div class="modal fade text-center" id="choose-attr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit Listing</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <h6>What would you like to edit?</h6>
	        <%= form_for :listing, url: update_listing_path, method: (:patch) do |form| %>
	        <%= form.label :attribute, id:"attr-label"  %>
	        <%= form.select :name, options_for_select(Listing.for_update), prompt: "Please Select One", include_blank: true %></br>
	        <%= form.text_field :name, id:"new-value", placeholder:'Enter new details...' %>
	        <%= form.file_field :avatars, id:"avatar-upload", multiple: false, class:'d-none' %>

	      </div>
	      <div class="modal-footer">
	        <%= form.submit 'Make Changes!', class:'btn btn-success' %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade text-center" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Remove Listing</h5>
	      </div>
	      <div class="modal-body">
	        <h4 class="text-danger">Are you sure you wish to remove the listing?</h4>
	        <h6 class="text-danger">This cannot be reversed!</h6>

	      </div>
	      <div class="modal-footer justify-content-center">
	      	<%= button_to "Yes", listing_path, method: (:delete), class:"btn btn-danger" %>
	      	<button class="btn btn-success" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script>

		$('#listing_name').change(function(){

		    var selected = $(':selected', this);

		    if (selected.attr('value') != 'listing[avatar]'){

		    $("#new-value")[0].attributes[4].nodeValue = selected.attr('value');
		    $("#attr-label").text(selected[0].innerHTML);
		    $("#listing_name").fadeOut().remove();

			} else {

				$("#attr-label").remove();
				$("#new-value").remove();
				$("#listing_name").remove();
				$("#avatar-upload").removeClass("d-none");
			}

		});

		$("#info-bar").mouseenter(function(){
			$("#info-bar").addClass('font-weight-bold')
		})

		$("#info-bar").mouseleave(function(){
			$("#info-bar").removeClass('font-weight-bold')
		})

		$("#show-number").click(function(){
			$("#show-number").fadeOut()
			$("#contact-number").hide().html("<%= @listing.user.contact_number %>").fadeIn()
		})

		$("#edit-button").click(function(){
			$('#choose-attr').modal()

		})

		$("#delete-button").click(function(){
			$('#delete-confirm').modal()

		})

		$("#verify").click(function(){
		  	event.preventDefault();

			$.ajax({
			  method: "POST",
			  url: "/listings/<%= @listing.id %>/verify",
			  data: {verified: true},
			  success: function(data){

			  	if (data == "true"){
			  	 	var content = '<p id="info-icon" class="nav-item text-success"><i class="fas fa-check-circle"></i> Verified</p>'

			  	 	$("#verify").fadeOut('slow').remove();
			  		$("#verified-status").fadeIn('slow').html(content);
			  	}

			  }
			})
		})

	</script>