<section class="container">

	<div class=" d-flex flex-wrap justify-content-center">
  
	<div class="card text-center m-5 shadow-lg" style="width: 50rem;">
	  <div class="card-header">
	   <%= @booking.listing.name %>
	  </div>
	  <div class="card-body">
	    <h3 class="card-title">Booking For: <%= @booking.user.first_name %> <%= @booking.user.last_name %></h3>
	    <ul class="list-group flex-wrap m-3">
	      <li class="list-group-item"><h5>Total Nights: <%= (@booking.check_in...@booking.check_out).count %></h5></li>
	      <li class="list-group-item">
	      	<h6><u>Booking Overview:</u></h6>
	      	<ul class="nav justify-content-center nav-fill m-3">
	        <li class="nav-item">
	          <p>Rooms: <%= @booking.listing.room_number %> </p>
	        </li>
	        <li class="nav-item">
	          <p>Guests: <%= @booking.listing.guest_number %> </p>
	        </li>
	        <li class="nav-item">
	          <p>Beds: <%= @booking.listing.bed_number %></p>
	        </li>
	        </ul>
	      </li>
	      <li class="list-group-item">
	      	<ul class="nav justify-content-center flex-column m-3">
	        <li class="nav-item">
	          <h5>Address:</h5>
	        </li>
	        <li class="nav-item">
	          <p><%= @booking.listing.address %></p>
	        </li>
	        <li class="nav-item">
	          <p><%= @booking.listing.city %></p>
	        </li>
	        <li class="nav-item">
	          <p><%= @booking.listing.state %></p>
	        </li>
	        <li class="nav-item">
	          <p><%= @booking.listing.country %></p>
	        </li>
	        </ul>
	      </li>
	      <li class="list-group-item">Total Cost: <%= number_to_currency(@booking.total_cost, unit: '$') %></li>
	    </ul>
	    <a id="pay-now" class="btn btn-danger text-white">Pay Now!</a>
	  </div>
	</div>
	
	</div>


	<div class="modal fade" id="braintreeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalCenterTitle">Complete Payment</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Something Something Something Darkside...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Pay</button>
	      </div>
	    </div>
	  </div>
	</div>

  


</section>


<script>

	$('#pay-now').click(function(){

	$("#braintreeModal").modal();
		
	})

</script>