<section class="container-fluid mt-4 text-center">
	<h2 class="text-dark">Bookings:</h2>
	<ul class="d-flex flex-wrap justify-content-center">
		<% @booking.each do |b| %>
			<li class="list-inline-item">
				<div class="card m-2 text-center shadow-lg" style="width: 20rem;">
				  <img class="card-img-top" src="/assets/download.svg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= b.listing.name %></h5>
				    <p class="text-muted"><%= b.listing.place_type %></p>
				    <h6 class="text-muted text-center"><%= number_to_currency(b.total_cost, unit: '$') %></h6>
				  </div>
				  <ul class="list-group list-group-flush">
					  	<% if b.payment_status == true %>
					  	<li class="list-group-item text-center text-success"><i class="fas fa-check-circle"></i> Paid</li>
					  	<% else %>
					  	<li class="list-group-item text-center"><i class="fas fa-times-circle"></i> Pending Payment</li>
					  	<% end %>
					    <li class="list-group-item text-center">
					    	Check In: <%= b.check_in %></br> 
					    	Check Out: <%= b.check_out %></br> 
					    	<% if b.payment_status == true %>Payment Made On: <%= b.updated_at %><% end %>
					    </li>
					  </ul>
				  <div class="card-body text-center">
				  	<% if b.payment_status != true %>
				    <a href="/bookings/<%= b.id %>"  class="card-link">Pay Now</a>
				    <% else %>
				    <p>Please check your listings cancellation policy! FireBnB will not be held responsible for any losses or charges incurred!</p>
				    <a href="/bookings/<%= b.id %>/cancel" data-confirm="Are you sure? You may still be charged for part of the booking!" class="card-link text-danger">Cancel Booking</a>
				    <% end %>
				  </div>
				</div>
			</li>
		<% end %>
	</ul>
</section>