<div class="card" style="width: 100;">
  <div class="card-body text-center">
    <% if @user.avatar? %>
      <%= image_tag((@user.avatar_url), class:"card-img-top w-25 rounded-circle mx-auto d-block")%>
    <% else %>
      <img class="card-img-top w-25 rounded-circle mx-auto d-block" src="/assets/profile.jpg" alt="Card image cap">
    <% end %>
    <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
      <button id ="avatar" class="edit-button btn btn-success mt-3">Change Profile Photo</button>
    <% end %>
      <h1 class="card-text m-2 p-1"><%= @user.first_name %>'s Profile</h1>
      <h5 class="card-title">Account Type: <%= @user.auth_level %></h5>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item bg-secondary text-white">Member Since: <%= @user.created_at.year %></li>
    <li class="list-group-item">Listings: <%= @user.listings.count %></li>
    <li class="list-group-item bg-secondary text-white">Bookings Made: <%= @user.bookings.count %></li>
  </ul>
  <div class="card-body container">
    <ul class="list-group list-group-flush text-left">
      <li class="list-group-item text-center">
        <h3>Personal Details:</h3>
      </li>
      <li class="list-group-item">
        <strong>First Name:</strong> <%= @user.first_name %>
        <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
        <button id ="first-name" class="edit-button btn btn-warning float-right">Edit</button>
        <% end %>
      </li>
      <li class="list-group-item">
        <strong>Last Name:</strong> <%= @user.last_name %>
        <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
        <button id ="last-name" class="edit-button btn btn-warning float-right">Edit</button>
        <% end %>
      </li>
      <li class="list-group-item">
        <strong>Birthday:</strong> <%= @user.date_of_birth %>
        <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
        <button id ="birthday" class="edit-button btn btn-warning float-right">Edit</button>
        <% end %>
      </li>
      <li class="list-group-item">
        <strong>Contact Number:</strong> <%= @user.contact_number %>
        <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
        <button id ="contact-number" class="edit-button btn btn-warning float-right">Edit</button>
        <% end %>
      </li>
      <li class="list-group-item">
        <strong>Email Address:</strong> <%= @user.email %>
        <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
        <button id ="email" class="edit-button btn btn-warning float-right">Edit</button>
        <% end %>
      </li>
      <li class="list-group-item">
        <% if current_user.id == @user.id || current_user.auth_level == "superadmin" %>
        <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#deleteModal">
          Delete Account
        </button>
        <% end %>
       </li>
    </ul>
  </div>
</div>

<% if @user.auth_level == "basic" %>


<% else %>

  <section class="container-fluid p-3 bg-dark">
    <h3 class="text-center text-white">Listings:</h3>
    <ul class="d-flex flex-wrap justify-content-center">
        <% @listing.each do |l| %>
          <li class="list-inline-item">
            <div class="card m-2 text-center shadow-lg" style="width: 18rem;">
              <img class="card-img-top" src="/assets/download.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= l.name %></h5>
                <p class="text-muted"><%= l.place_type %></p>
                <h6 class="text-muted text-center"><%= number_to_currency(l.price, unit: '$') %> Per Night</h6>
              </div>
              <ul class="list-group list-group-flush">
                <% if l.verified == true %>
                <li class="list-group-item text-center text-success"><i class="fas fa-check-circle"></i> Verified</li>
                <% else %>
                <li class="list-group-item text-center"><i class="fas fa-times-circle"></i> Unverified</li>
                <% end %>
                <li class="list-group-item text-center">
                  <i class="fas fa-door-closed"></i> <%= l.room_number %> | 
                  <i class="fas fa-user"></i> <%= l.guest_number %> | 
                  <i class="fas fa-bed"></i> <%= l.bed_number %>
                </li>
              </ul>
              <div class="card-body text-center">
                <a href="/listings/<%= l.id %>" class="btn btn-danger" data-confirm="Are you sure you want to remove listing?" data-method="delete">Delete</a>
              </div>
            </div>
          </li>
        <% end %>
        
      
    </ul>
        <%= paginate @listing %>

  </section>
<% end %>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit <%= @user.first_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">

        <%= bootstrap_form_for :user, method: (:patch) do |form| %>

          <div id="first-name-field" class="text-field p-1 d-none">
            <%= form.text_field :first_name, placeholder: "Jesse", class:"shadow" %>
          </div>

          <div id="last-name-field" class="text-field p-1 d-none">
            <%= form.text_field :last_name, placeholder: "James", class:"shadow ml-1" %>
          </div>

          <div id="contact-number-field" class="text-field p-1 d-none">
            <%= form.text_field :contact_number, placeholder: "+60-123456789", class:"shadow" %>
          </div>

          <div id="birthday-field" class="text-field p-1 d-none">
            <%= form.text_field :date_of_birth, placeholder: "DD/MM/YYYY", class:"shadow ml-3" %>
          </div>

          <div id="email-field" class="text-field p-1 d-none">
            <%= form.text_field :email, type: 'email', placeholder: "jesse@example.com", class:"shadow ml-4" %>
          </div>

          <div id="avatar-field" class="text-field p-1 d-none">
            <%= form.file_field :avatar, multiple: false %>
          </div>
      </div>
      <div class="modal-footer">
          <%= form.submit 'Save Changes', class:'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Warning!!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="text-danger">Are you sure you wish to delete your account?</h2>
        <h5 class="text-danger">All related listings & posts will be removed from the site and are no longer retrievable!</h5>
      </div>
      <div class="modal-footer">
        <%= button_to "Yes", user_path, method: (:delete), class:"btn btn-danger" %>
        <button class="btn btn-success" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script>

  $()

  $(".close").click(function(){
    $(".text-field").addClass("d-none");
  })

  $(".edit-button").click(function(event){

    if (event.target.id == 'first-name'){
      $('#editModal').modal()
      $('#first-name-field').removeClass("d-none");
    } else if (event.target.id == 'last-name'){
      $('#editModal').modal()
      $('#last-name-field').removeClass("d-none");
    } else if (event.target.id == 'birthday') {
      $('#editModal').modal()
      $('#birthday-field').removeClass("d-none");
    } else if (event.target.id == 'contact-number') {
      $('#editModal').modal()
      $('#contact-number-field').removeClass("d-none");
    } else if (event.target.id == 'email') {
      $('#editModal').modal()
      $('#email-field').removeClass("d-none");
    } else if (event.target.id == 'avatar') {
      $('#editModal').modal()
      $('#avatar-field').removeClass("d-none");
    }

  })

</script>