<div class="container w-100">

		<div class="w-40 card text-center bg-dark text-white shadow mt-3 mb-2">
		  <div class="card-header">
		    Featured Listing:
		  </div>
		  <img class="card-img-top" src="<%= @listing.avatars_urls.sample %>" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title"><%= @listing.name %></h5>
		    <p class="card-text"><%= @listing.description %></p>
		    <a href="/listings/<%= @listing.id %>" class="btn btn-primary">Visit Here</a>
		  </div>
		  <div class="card-footer text-muted">
		    <%= @listing.created_at %>
		  </div>
		</div>
	
</div>