
    <h1>Thank you for booking with FireBnB, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      Congratulations on your booking, we hope you will enjoy your stay at <%= @listing.name %>.
    </p>
    <h3>Booking Details:</h3>
    <ul>
      <li>Host: <%= @host.first_name %></li>
      <li>
      Address:</br>
      <%= @listing.address %></br>
      <%= @listing.city %></br>
      <%= @listing.state %></br>
      <%= @listing.zipcode %></br>
      <%= @listing.country %></br>
      </li>
      <li>Nights Stay: <%= @days %> </li>
      <li>Total Cost: <%= @booking.total_cost %></li>
    </ul>
    <p>
      Please make immediate payment to secure the booking. The booking will be cancelled if payment isn't complete within 48 hours!
    </p>
    <p>Thanks from the team at FireBnB!</p>
