<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="-eG9-yZ_upcoay-GcXFQv4gzPbatdaIrUZjnZM1cFrU" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Bitter|Oxygen|Rubik|Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

  <!-- Load the Client component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

  <!-- Load the Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

    <nav id="head-nav" class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/">FireBnB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav w-100">
        <% if signed_in? -%>
          <li class="nav-item my-auto">
            <a href="/listings" class="btn btn-link text-body">View Listings</a>
          </li>
          <% if current_user.auth_level == "host" || current_user.auth_level == "superadmin" %>
          <li class="nav-item my-auto">
            <a href="/listings/new" class="btn btn-link text-body">Be A  Host</a>
          </li>
          <% end %>
          <li class="nav-item dropleft ml-auto">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar? %>
                <%= image_tag((current_user.avatar_url), class:"card-img-top av-size rounded-circle mx-auto d-block") %>
              <% else %>
              <img class="card-img-top av-size rounded-circle mx-auto d-block" src="/assets/images/profile.jpg" alt="Card image cap">
              <% end %>
            </a>
            <div class="dropdown-menu">
              <% if current_user.auth_level == "superadmin"%>
                <a href="/users" class="dropdown-item">Management</a>
              <% end %>
              <a href="/users/<%= current_user.id %>" class="dropdown-item">View Profile</a>
              <a class="dropdown-item" href="/bookings/view_all">View Bookings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                <%= button_to "Sign Out", sign_out_path, method: :delete, class:"btn btn-link text-body" %>
              </a>
            </div>
          </li>
        <% else %>
          <li class="nav-item my-auto">
            <%= link_to t(".sign_in"), sign_in_path, class:"btn btn-link text-body" %>
          </li>
        <span class="navbar-text ml-auto">
          The hottest booking app. Its lit!
        </span>
        <% end -%>
      </ul>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <div class="alert alert-success" role="alert">
    <%= value %>
  </div>
  <% end %>

  <%= yield %>
  
<script>
$(".alert").delay(1000).fadeOut('slow');
$('.carousel').carousel({interval: false})
flatpickr("#flatpickr-input", {
  mode: "range"
});
</script>
</body>
</html>
